@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.fondo {
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #ebae59, #ffd7a3);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite; }

@keyframes color {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@media (max-width: 320px) {
  .navBar {
    display: flex;
    font-size: 20px;
    font-family: Poppins;
    font-weight: lighter;
    gap: 100px;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    flex-wrap: row wrap; }
  .container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "box-1" "box-2" "box-3"  "box-4"; }
  .container-2 {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "booksbox-2" "booksbox-3"; }
  .container-3 {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "month-1" "month-2"; }
  .container-4 {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "box-15" "box-16"; }
  .container-5 {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "review-1" "review-2" "review-3"  "review-4"; }
  .booksbox-1 {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "book-1"  "book-2"; }
  .booksbox-2 {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "box-5"  "box-6"  "box-7"; }
  .booksbox-3 {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "box-8"  "box-9"; }
  .month-1 {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "box-10"  "box-11"  "box-12"; }
  .month-2 {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "box-13"  "box-14"; } }

@media (min-width: 768px) {
  .navBar {
    display: flex;
    font-size: 20px;
    font-family: Poppins;
    font-weight: lighter;
    gap: 100px;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    flex-wrap: row wrap; }
  .container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "box-1 box-2" "box-3 box-4"; }
  .container-2 {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "booksbox-2" "booksbox-3"; }
  .container-3 {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "month-1" "month-2"; }
  .container-4 {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "box-15" "box-16"; }
  .container-5 {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "review-1 review-2" "review-3 review-4"; }
  .booksbox-1 {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "book-1 book-2"; }
  .booksbox-2 {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "box-5 box-6 box-7"; }
  .booksbox-3 {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "box-8 box-9"; }
  .month-1 {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "box-10 box-11 box-12"; }
  .month-2 {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "box-13 box-14"; } }

header .main-cont {
  position: relative;
  text-align: center; }
  header .main-cont .main {
    color: white;
    font-size: 100px;
    font-weight: 800;
    font-family: Poppins;
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center; }

header .tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

header .navBar {
  display: flex;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 300;
  gap: 100px;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  flex-wrap: row wrap;
  padding: 20px; }

header .navBar button {
  padding: 10px 50px;
  margin: 0 20px;
  border: 2px solid #ffe6c9;
  background-color: transparent;
  font-weight: Poppins;
  font-size: 20px;
  transition: all ease-in .4s;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: rgba(170, 107, 45, 0.2) 0px 20px 20px -7px; }

header .navBar button:hover {
  background-color: #ffe6c9;
  color: black; }

main .subheader {
  color: #fff5e6;
  font-size: 40px;
  font-family: Poppins;
  font-weight: 600;
  padding-bottom: 15px; }

main .tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

main .book-title {
  font-family: Poppins;
  color: #86491a;
  font-weight: 600;
  font-size: 20px;
  padding: 10px; }

main .body {
  font-family: Poppins;
  color: black;
  font-style: italic;
  font-size: 16px; }

main .lista {
  font-family: Poppins;
  color: black;
  font-style: italic;
  font-size: 16px;
  list-style: circle;
  padding: 10px 20px; }

main .info {
  font-family: Poppins;
  color: black;
  font-size: 16px; }

main .tropes {
  font-family: Poppins;
  font-style: italic;
  font-size: 40px;
  font-weight: 600;
  color: #86491a;
  text-align: center;
  padding: 15px; }

main .date {
  font-family: Poppins;
  color: #956848;
  font-size: 16px;
  font-weight: 300; }

main .month {
  color: #8d5319;
  font-size: 40px;
  font-family: Poppins;
  font-weight: 600;
  text-align: center;
  padding: 15px; }

main .review-1 {
  padding-bottom: 20px; }

footer {
  padding: 10px 30px; }
  footer .subheader {
    color: #fff5e6;
    font-size: 50px;
    font-family: Poppins;
    font-weight: 800;
    font-style: italic;
    padding-bottom: 10px; }
  footer .tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }
