$color-main: rgb(255, 255, 255);
$color-subheader:rgb(255, 245, 230);
$color-book-title: rgb(134,73,26);
$color-body: black;
$color-fechas: rgb(149, 104, 72);
$color-mes: rgb(141, 83, 25);
$padding-subheader: 15px;
$padding-main: 20px;
$padding-body: 10px;
$padding-main-container: 20px;
$padding-box: 10px;